<!DOCTYPE html>
<html>
    <head>
        <title>종달새 여행사</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="종달새 여행사 로고">
        </header>
        {{{body}}}
    </body>
</html>