{{#section 'head'}}
    <meta name="=robots" content="noindex">
{{/section}}

<h1>테스트 페이지</h1>
<p>스크립트 코드 테스트 중입니다</p>

{{#section 'scripts'}}
    <script>
        document.querySelector('body')
        .insertAdjacentHTML('beforeEnd','<small>스크립트가 동작함!</small>')
    </script>
{{/section}}
